@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 75em;
    margin: 0 auto;
}

h1 {
    font-size: 3.125em;
    font-weight: 600;
}

h2 {
    color: #065078;
    font-size: 2.125em;
    font-weight: 800;
    margin-top: 1.25rem;
}

h3 {
    color: #065078;
    font-size: 1.375em;
    font-weight: 700;
}

p{
    color: #5c727d;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5625rem;
}

.aclaracion {
    color: #81b0c1;
    font-size: 0.875rem;
    font-weight: 400;
}

.logo {
    text-align: left;
    width: 70px;
    margin-right: 80px;
}

.tituloresaltado {
    color: #feba01;
    font-weight: 700;
}

.boton {
    display: inline-block;
    color:  white;
    background-color: #08608f;
    padding: 1.25em;
    border: none;
    border-radius: 0.5em;
}

.boton:hover {
    background-color: #03496e; 
}

.subtitulos-de-secciones {
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-top: 1em;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin: 2rem;
}

.menu .navbar ul li a {
    font-size: 1.125em;
    display: block;
    font-weight: 600;
    color: white;
}

.menu .navbar ul li a:hover{
    color:#feba01
}

#menu {
    display: none;
}

.menu-icono {
    width: 1.5625em;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-contacto {
    display: flex;
    position: relative;
    background-color: #065078;
}

.menu-contacto {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-top: 1rem;
    width: 100%;
}

.menu-contacto .navbar ul li {
    position: relative;
    float: left;
    margin: 2rem;
}

.menu-contacto .navbar ul li a {
    font-size: 1.125em;
    /* padding: 10px; */
    display: block;
    font-weight: 600;
    color: white;
}

.menu-contacto .navbar ul li a:hover {
    color: #feba01;
}

.menu-icono-contacto {
    width: 1.5625em;
}

.menu-contacto label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
}

.esp {
    position: absolute;
    top: 43.75em;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 13rem;
}

.header-txt h1 {
    line-height: 4.375rem;
    margin-bottom: 1.5625rem;
}

.header-txt h1:first-of-type {
    color: white;
}

.header-txt p {
    color: white;
    margin-bottom: 18.75rem;
    padding: 0 6.25em;
}

/* QUIENES SOMOS */
.nosotros {
    position: relative;
    padding-top: 6em;
    padding-bottom: 6em;
}

#tasaciones {
    background-color: #e4ebee;
}

.nosotros-info {
    padding: 6.25em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.nosotros-img {
    width: 50%;
}

.nosotros-img img {
    width: 31.25em;
    border-radius: 20px;
}

.nosotros-txt {
    width: 40%;
    margin-right: 50px;
}

.nosotros-txt span {
    margin-bottom: 1.5625em;
}

.nosotros-txt h2 {
    margin-top: 0.625em;
    margin-bottom: 1.875em;
}

.nosotros-txt p {
    margin-bottom: 1.5625em;
}

.nosotros-txt p:nth-last-of-type(1) {
    margin-bottom: 3.125em;
}

/* PROPIEDADES */
.products {
    padding-top: 12em;
    padding-bottom: 12em;
    text-align: center;
}

.products h2 {
    margin-bottom: 2.5em;
}

.product-info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 3em;
}

.product {
    padding-bottom: 2.1875em;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.product img {
    width: 100%;
    height: 15.625em;
    border-radius: 15px 15px 0 0;
}

.product h3 {
    font-size: 1.0625em;
    font-weight: 700;
    color: #303030;
    margin-top: 0.9375em;
    padding: 0 0.9375em;
}

.product h4 {
    font-size: 1.125em;
    font-weight: 600;
    color: #03496e;
    margin-top: 0.625em;
    padding: 0 0.9375em;
}

.product p {
    color: #7c8285;
    font-size: 1em;
    padding-top: 0.9375em;
    padding-left: 1.125em;
    margin: 0;
}

/* SERVICIOS */
.servicios {
    padding: 5em 0;
    text-align: center;
    background-color: #e4ebee;
    padding-top: 8em;
    padding-bottom: 10em;
}

.servicios h2 {
    margin-bottom: 2em;
}

.info {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    column-gap: 1.25em;
    row-gap: 1.25em;
}

.info-1 {
    width: 23.75em;
    padding: 2.5em;
    padding-top: 4em;
    padding-bottom: 5em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
}

.info-1 img {
    width: 5.625em;
}

.info-1 h3 {
    margin-top: 0.9375em;
    margin-bottom: 0.625em;
}

.info-1 p {
    padding: 0.625em;
}

/* FOOTER */
.footer {
    padding: 3.125em 0;
    background-color:#065078;
}

.footer-links {
    display: flex;
    justify-content: space-between; 
    gap: 1.875em;
}

.footer-descripcion {
    width: 25em;
    font-size: 0.9375em;
    font-weight: 300;
    color: #e6e6e6;
}

.link h3 {
    font-size: 1.125em;
    font-weight: 600;
    color: white;
    margin-bottom: 1.25em;
}

.link li p {
    color: #e6e6e6;
    font-size: 0.875em;
    line-height: 40%;
}

.socials img {
    margin-right: 0.9375em;
    margin-bottom: 0.9375em;
    opacity: 50%;
    width: 1.875em;
}

.socials img:hover {
    opacity: 100%;

}

.link ul li a {
    font-size: 1em;
    display: block;
    margin-bottom: 0.625em;
    color: white;
}

/* CONTACTO */
.colorful-form {
    width: 31.25em;
    margin: 0 auto;
    padding: 3.75em;
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .form-group {
    margin-bottom: 1.25em;
  }
  
  .form-label {
    font-size: 1.125em;
    font-weight: 400;
    margin-bottom: 0.625em;
    color: #333;
    padding-top: 0.1em;
  }
  
  .form-input {
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.3em;
    border: solid 1px #5c727d42;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  textarea.form-input {
    height: 6.25em;
  }
  
  .form-button {
    display: block;
    width: 100%;
    padding: 1.125em;
    background-color: #08608f;
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .form-button:hover {
    background-color: #03496e;
  }

@media screen and (max-width: 1060px) {

    body {
        font-size: 14px;
    }
    
    /* MENU */
    .menu {
        padding: 30px;
        justify-content: space-between;
        margin-top: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #e6e6e6;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #303030;
    }

    .menu .navbar ul li a:hover {
        color: #065078;
        font-weight: 700;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 2rem;
        margin-top: 10rem;
    }

    /* MENU CONTACTO */
    .menu-contacto {
        padding: 30px;
        justify-content: space-between;
        margin-top: 0;
    }

    .menu-contacto label {
        display: initial;
    }

    .menu-contacto .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #e6e6e6;
        display: none;
    }

    .menu-contacto .navbar ul li {
        width: 100%;
    }

    .menu-contacto .navbar ul li a {
        color: #303030;
    }

    .menu-contacto .navbar ul li a:hover {
        color: #065078;
        font-weight: 700;
    }

    /* QUIENES SOMOS */
    .nosotros {
        justify-content: space-between;
    }
    
    .nosotros-img img {
        width: 25rem;
    }

    /* FOOTER */
    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {

    body {
        font-size: 12px;
    }
    
    .header-txt p {
        margin-bottom: 10em;
        padding: 0 6.25em;
    }

    /* QUIENES SOMOS */
    .nosotros {
        padding-left: 2em;
        padding-right: 2em;
    }

    .nosotros-info {
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-img {
        width: 100%;
    }

    .nosotros-img img {
        width: 400px;
    }

    .nosotros-txt {
        width: 100%;
        padding-top: 2rem;
    }

    /* LO NUEVO EN ALQUILER */
    .products {
        padding: 1.875rem;
        text-align: center;
    }

    .products p {
        padding: 0;
        margin-bottom: 2.5rem;
    }

    .product-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .product p {
        padding: 1.875rem;
    }

    /* SERVICIOS */
    .subtitulos-de-secciones {
        margin-left: 1em;
        margin-right: 1em;
    }

    /* FORMULARIO DE CONTACTO */
    .colorful-form {
    width: 95%;
    text-align: left;
    margin-left: -1em;
  }
}

@media screen and (max-width: 530px) {

    /* HEADER */
    .header-txt {
        margin-bottom: 10em;
    }
        
    .header-txt p {
        display: none;
    }
    
    /* QUIENES SOMOS */
    .nosotros-img {
        width: 100%;
    }
    
    .nosotros-img img {
        width: 90%;
        margin-right: 3em;
    }
}

@media screen and (max-width: 320px) {
    
    body {
        font-size: 12px;
    }
}